<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebUI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.css" integrity="sha512-MpdEaY2YQ3EokN6lCD6bnWMl5Gwk7RjBbpKLovlrH6X+DRokrPRAF3zQJl1hZUiLXfo2e9MrOt+udOnHCAmi5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js" integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
</head>
<body style=" background-image:
                                linear-gradient(
                                #B2FBB7,  #CCE7CE
                                );">
    <header id="appHeader">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img  src="img/logo.png" style="width:130px;height:50px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Categorias</a>
                        </li>
                    </ul>
                </div>
                 <span v-if="usuario !=null" class="navbar-text">
                     <a asp-area="" asp-page="/MisFavoritos"  class="nav-link text-white btn btn-warning btn-sm">Mis Favoritos</a>
                </span>
                 &nbsp;
                <span v-if="usuario !=null" class="navbar-text">
                     <a href="#" v-on:click="CerrarSesion()" class="nav-link text-white btn btn-dark btn-sm"  >Cerrar Sesión</a>
                </span>
                
                 <span v-if="usuario ==null" class="navbar-text">
                     <a asp-area="" asp-page="/Login"  class="nav-link text-white btn btn-dark btn-sm">Iniciar Sesión</a>
                </span>  &nbsp;
                 <span v-if="usuario ==null" class="navbar-text">
                     <a asp-area="" asp-page="/Registro"  class="nav-link text-white btn btn-dark btn-sm">Registrate</a>
                </span>
            </div>
        </nav>
    </header>
    <div class="container" >
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebUI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

     <script>
        new Vue({
            el: "#appHeader",
            data: {
                usuario:{}
            }, 
            mounted: function () {
                this.usuario =JSON.parse(localStorage.getItem('usuario'));
            },
            methods: {
                CerrarSesion: function () {
                    localStorage.removeItem('usuario');
                    this.usuario = null;
                    location.href = "/Login";
                },
                IniciarSesion: function () {
                    location.href = "/Login";
                }
            }
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>